
@media screen and (min-width: 768px) {
  .container2{
    position: relative;
    margin-top: 60px;
  }

  .susTitle{
    z-index: 53;
    position: relative;
    font-size: 2em;
    text-align: center;
  }

  .title{
    z-index: 53;
    position: relative;
    font-size: 2em;
    margin-left: -50px;
    margin-top: 40px;
  }

  .espace{
    margin-top: 20px;
    overflow-wrap: break-word; /* Permite que las palabras se rompan para ajustarse al ancho del contenedor */
  word-wrap: break-word; /* Otra propiedad para compatibilidad con navegadores más antiguos */
  max-width: 500px;
  margin-left: -50px;
  }

  .img1 {
    z-index: 53;
    width: 450px;
    height: 300px;
    margin-left: 600px;
    margin-top: -375px;
  }

  .conteinerT1{
    z-index: 53;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create 4 equal-width columns */
    grid-gap: 30px;
    margin-left: -5px;
}
}

/* Estilos para pantallas pequeñas (hasta 767px) */
@media screen and (max-width: 767px) {
    .container2 {
        position: relative;
        margin-top: 30px; /* Ajusta el margen según sea necesario */
      }

      .susTitle {
        z-index: 53;
        position: relative;
        font-size: 1.5em; /* Ajusta el tamaño de la fuente según sea necesario */
        text-align: center;
      }

      .title{
        z-index: 53;
        position: relative;
        font-size: 2em;
        margin-left: 0,2px;
        margin-top: 60px;
      }

      .conteinerT1{
        z-index: 53;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* Create 4 equal-width columns */
        grid-gap: 30px;
        margin-left: 0,2px;
    }

    .img1 {
      z-index: 53;
      width: 450px;
      height: 300px;
      margin-top: 40px;
    }
}